# User message
{{user_message}}


# instruction
- Classify the intent of user message into these following class:
 - tax calculation request e.g requesting for bot to calculate tax on their behalf
 - knowledge request e.g asking what is "a", how to obtain "a" value, etc

# Follow this format
{
    "intent": Output "tax_calculation_request" | "knowledge_request"
}