# Chat history
{{chat_history}}

# User message
{{user_message}}

# instruction
- Classify the intent of user message into these following class:
    - tax calculation request - applies when user is requesting an **action** e.g request bot to calculate tax on their behalf, asking what their tax is based on given salary.
    - knowledge request - applies when user is requestiong an **explanation**. 

# Follow this format
{
    "intent": Output "tax_calculation_request" | "knowledge_request"
}