# Chat history
{{chat_history}}

# User input
{{user_input}}

# Instruction
Reformulate and split the following user input into concise, clear, and standalone key phrases in Indonesian. These key phrases should be minimal and representative topics or keywords that capture the core intent of the user's input. Only include phrases that are related to taxation. Do not make up new meanings or interpretations that are not present in the user’s input. If the input contains multiple intents with the same meaning, return only one representative phrase.

# Examples
**USER INPUT**
"Halo, mau tanya pajak itu apa sih? kalo pph itu apaan?"
**OUTPUT**
["Pajak", "PPh"]

**USER INPUT**
"Kamu tau pajak ga? Aku mau tanya tentang pph pasal 21."
**OUTPUT**
["Pajak", "PPh Pasal 21"]

**USER INPUT**
"Apa saja yang termasuk objek PPh dan bagaimana hitungnya?"
**OUTPUT**
["Objeck PPh", "Perhitungan PPh"]

**USER INPUT**
"Siapa presiden indonesia sekarang dan bagaimana cara lapor SPT tahunan?"
**OUTPUT**
["Lapor SPT tahunan"]



